
.about{
    display: grid;
    grid-template-columns: 1fr;
    background: #FFF;
}

.about-img{
height: 353.656px;
width: 300px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
} 
.about-content{
    padding: 20px;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    
}
.about-us{
    font-size: 12px;
    width: 55px;
    height: 15px;
    margin: 5px 0 0;
}
.about-us{
    border-bottom: 3px solid #C82424;
    padding-bottom: 20px;
}
.about h2{
    height: 69px;
    font-size: 28px;
}

.year{
    color: #c82424;
}
.about-para{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6C6C6C;
    padding: 5px 20px 0 0;
}
.icon-para{
    display:grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    color: #6C6C6C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.free-consult{
    width: 124px;
    height: 38px;
    background-color: #C82424;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin: 20px 0;
}
.box-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C82424;
    margin: 0 auto;
    color: #FFF;
    padding: 20px;
    height: 423px;
    width: 360px;
    border-radius: 5px;
}
.box-content h2{
font-size: 20px;
}
.box-content p{
    height: 126px;
    color: #F4D3D5;
    font-size: 14px;
    }
.signation{
    width: 96px;
height: 39px;
}
.box1{
    font-size: 14px;
}
.triangle{
    position: absolute;
    color: #FFF;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}
.ellipse{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}
.video-img{
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 325px;
    border-radius: 5px;
}
.form{
    margin-top: 20px;
    height:  1050px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(0deg,rgba(0, 0, 0,0.1), rgba(0, 0, 0, 0.1) 100%),url('../Images/contact-bg.svg');

}
.form h2{
    font-size: 18px;
}
.form-para{
    font-size: 13px;
}
.form-content{
    padding:10px 20px;
    height: 950px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    margin: 0 auto;
}
.form-para1 p{
    font-size: 15px;
    width: 110px;
}
.form-para1 p{
    border-bottom: 3px solid #C82424;
    padding-bottom: 10px;
}
.form-para2 p{
    font-size: 15px;
    width: 120px;
    border-bottom: 3px solid #C82424;
    padding-bottom: 10px;
}

.formsocial-icon{
    display: flex;
    gap: 8px;
}
.formsocial{
    width: 30px;
    height: 30px;
    display: flex;
    border: 1px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding:5px;
    color: #C82424;
    background-color: #FFF;
}
.form-input-icon{
    width: 50px;
    height: 55px;
    border: 0.7px solid #8B8B8B;
    padding: 10px;
    background-color: #3F596C;
    color: #FFF;
    
}
.user-icon{
    position: absolute;
    z-index: 2;
}
.email-icon{
    position: absolute;
    z-index: 2;
}
.phone-icon{
    position: absolute;
    z-index: 2;
}
.date-icon{
    position: absolute;
    z-index: 2;
}
.message-icon{
    position: absolute;
    z-index: 2;
    
}
.name{
    width: 360px;
    height: 55px;
    padding-left: 70px;
    font-size: 18px;
}
.email{
    width: 360px;
    height: 55px;
    padding-left: 70px;
    font-size: 18px;
}
.phone{
    width: 360px;
    height: 55px;
    padding-left: 70px;
    font-size: 18px;
}
.date{
    width: 360px;
    height: 55px;
    padding-left: 70px;
    font-size: 18px;
}
textarea{
    width: 360px;
    height: 202px;
    padding: 20px 70px;
    font-size: 18px;
}
.form-btn{
    width: 146px;
    height: 38px;
    color: #FFF;
    background-color: #c82424;
    font-size: 12px;
    border: none;
}
.partner{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin: 5px auto ;
}
.partner-head{
    font-size: 12px;
    border-bottom: 3px solid #C82424;
    width: 77px;
    padding-bottom: 10px;
    margin: 0 auto 25px;
}
.partner h2{
    font-size: 28px;
    font-weight: 400;  
    font-style: normal;
    margin-bottom: 25px;
   text-align: center;
}
.partner-1,
.partner-2,
.partner-3,
.partner-4
{
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}
.partner-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 10px;
}

@media all and (min-width: 601px) and (max-width: 900px){
  
.about-img{
    width: 700px;
    height: 703.685px;
    padding: 20px;
    }
    
    .about-us{
        font-size: 14px;
        width: 72px;
    }
  
    .about h2{
        width: 617px;
        height: 75px;
        font-size: 33px;
    }
   
    .year{
        color: #c82424;
    }
    .about-para{
        font-size: 16px;
        width: 713px;
    }
    .icon-para{
        font-size: 16px;
    }
    .free-consult{
        width: 164.423px;
        height: 43px;
        font-size: 14px;
    }

    .box-content{
        padding: 20px;
        width: 637px;
    }
    .box-content h2{
    font-size: 30px;
    }
    .box-content p{
        height: 72px;
        }
        .video-img{
            width: 637px;
            padding: 10px;
        }
       
        
.form h2{
    font-size: 30px;
    text-align: center;
}
.form-para{
    font-size: 14px;
    text-align: center;
}

.form-para1 p{
    font-size: 17px;
    width: 120px;
}
.form-para1 span{
    font-size: 25px;
    width: 198px;
}

.form-para2 {
    font-size: 17px;
    width: 140px;
}

.form-h3{
    font-size: 18px;
}
.form-input{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin: 0 ;
   gap: 20px;
}

.name{
    width: 350px;
}
.email{
    width: 350px;
}
.phone{
    width: 350px;
}
.date{
    width: 350px;
}
textarea{
    width: 740px;
    height: 214px;
    margin: 0 auto;
    gap: 20px;
}
.form-btn{
    width: 192px;
    height: 46px;
    font-size: 14px;
}


.partner-head{
    font-size: 14px;
    width: 89px;
    padding-bottom: 10px;
    margin: 20px auto 35px;
}
.partner h2{
    font-weight: 400;  
    font-style: normal;
    margin:0 auto 25px;
    width: 639px;
}
.partner-1,
.partner-2,
.partner-3,
.partner-4
{
    margin-bottom: 0;
    gap: 54px;
}
.partner-img{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: none;
    gap: 30px;
}
.partner-img .partner-1{
    gap: 50px;
}
    }
@media all and (min-width: 901px){
    .about{
        width: 1270px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    } 
    .about-content{
        padding: 0;
    }
    .about-img{
        width: 500px; 
        height: 703.685px;
        padding: 5px;
        }
     
        .about-us{
            font-size: 14px;
            width: 72px;
        }
      
        .about h2{
            width: 350px;
            height: 75px;
            font-size: 25px;
        }
        
        
        .about-para{
            font-size: 14px;
            width:350px;
        }
        .icon-para{
            font-size: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2px;
        }
        .free-consult{
            width: 164.423px;
            height: 43px;
            font-size: 14px;
        }
   .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
   }
        .box-content{
            width: 650px;
            height: 480px;
            position: absolute;
            z-index: 2;
            top: 1700px;
            justify-content: flex-start;
            margin: 20px  30px;
        }
        .box-content h2{
        font-size: 30px;
        }
        .box-content p{
            height: 72px;
            }
            .video-img{
                width: 596px;
                height: 517px;
                left: 100%;
                justify-content: flex-end;
            }
                
.form h2{
    text-align: none;
    width: 380px;
    height: 100px;
    font-size: 30px;
}
.form-para{
   width: 340px;
    text-align: none;
    height: 110px;
    font-size: 14px;
}
.contact-social{
    display: flex;
    gap: 40px;
    height:300px;
}
.form-h3{
    font-size: 18px;
}
.form-input{
    display: flex;
    gap: 50px;
    margin: 30px auto;

}

.name{
    width: 330px;
}
.email{
    width: 330px;
}
.phone{
    width: 330px;
}
.date{
    width: 330px;
}
textarea{
    width: 710px;
    gap: 0;
}
.form-btn{
    margin: 30px 0 0;
}
.form{
    width: 1270px;
    height: 727px;
}
.form-content{
    display: flex;
    margin: 0 auto;
    height: 700px;
}

.partner{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center ;
}
.partner-head{
    font-size: 14px;
    width: 89px;
    padding-bottom: 10px;
    margin: 20px auto 35px;
}
.partner h2{
    font-weight: 400;  
    font-style: normal;
    margin-bottom: 25px;
    padding:10px;
    text-align: center;
}
.partner-1,
.partner-2,
.partner-3,
.partner-4
{
    width: 220px;
height: 44px;
}
.partner-img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 1222px;
}

} 