
.about{
    display: grid;
    grid-template-columns: 1fr;
    background: #FFF;
}

.about-img{
height: 353.656px;
width: 300px;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto;
} 
.about-content{
    padding: 20px;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    
}
.about-us{
    font-size: 12px;
    width: 55px;
    height: 15px;
    margin: 5px 0 0;
}
.about-us{
    border-bottom: 3px solid #C82424;
    padding-bottom: 20px;
}
.about h2{
    height: 69px;
    font-size: 28px;
}

.year{
    color: #c82424;
}
.about-para{
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #6C6C6C;
    padding: 5px 20px 0 0;
}
.icon-para{
    display:grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;
    color: #6C6C6C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.free-consult{
    width: 124px;
    height: 38px;
    background-color: #C82424;
    border-radius: 5px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin: 20px 0;
}
.box-content{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C82424;
    margin: 0 auto;
    color: #FFF;
    padding: 20px;
    height: 423px;
    width: 360px;
    border-radius: 5px;
}
.box-content h2{
font-size: 20px;
}
.box-content p{
    height: 126px;
    color: #F4D3D5;
    font-size: 14px;
    }
.signation{
    width: 96px;
height: 39px;
}
.box1{
    font-size: 14px;
}
.triangle{
    position: absolute;
    color: #FFF;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}
.ellipse{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}
.video-img{
    position: relative;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 325px;
    border-radius: 5px;
}

@media all and (min-width: 601px) and (max-width: 900px){
  
.about-img{
    width: 700px;
    height: 703.685px;
    padding: 20px;
    }
    
    .about-us{
        font-size: 14px;
        width: 72px;
    }
  
    .about h2{
        width: 617px;
        height: 75px;
        font-size: 33px;
    }
   
    .year{
        color: #c82424;
    }
    .about-para{
        font-size: 16px;
        width: 713px;
    }
    .icon-para{
        font-size: 16px;
    }
    .free-consult{
        width: 164.423px;
        height: 43px;
        font-size: 14px;
    }

    .box-content{
        padding: 20px;
        width: 637px;
    }
    .box-content h2{
    font-size: 30px;
    }
    .box-content p{
        height: 72px;
        }
        .video-img{
            width: 637px;
            padding: 10px;
        }
       
    }
@media all and (min-width: 901px){
    .about{
        width: 1270px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    } 
    .about-content{
        padding: 0;
    }
    .about-img{
        width: 500px; 
        height: 703.685px;
        padding: 5px;
        }
     
        .about-us{
            font-size: 14px;
            width: 72px;
        }
      
        .about h2{
            width: 350px;
            height: 75px;
            font-size: 25px;
        }
        
        
        .about-para{
            font-size: 14px;
            width:350px;
        }
        .icon-para{
            font-size: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2px;
        }
        .free-consult{
            width: 164.423px;
            height: 43px;
            font-size: 14px;
        }
   .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
   }
        .box-content{
            width: 650px;
            height: 480px;
            position: absolute;
            z-index: 2;
            top: 1700px;
            justify-content: flex-start;
            margin: 20px  30px;
        }
        .box-content h2{
        font-size: 30px;
        }
        .box-content p{
            height: 72px;
            }
            .video-img{
                width: 596px;
                height: 517px;
                left: 100%;
                justify-content: flex-end;
            }
           
} 