.topbar{
    
    height: 148px;
    display: flex;
    align-items: center;
    flex-direction: column  ;
    gap: 10px;
}
.topmail_contact{
    display: flex;
    flex-direction: row wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 67px;
    gap: 20px;
}
.topmail_contact i{
    width: 20px;
    height: 20px;
}
.topmiddle{
    display: flex;
    flex-direction: row wrap;
    justify-content:center;
    align-items: center;
    height: 48px;
    border-bottom: 0.2px solid #000;
    gap:20px;
    width:100%;
}

.topsocial {
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    gap: 10px;
}
.btn{
    width: 126px ;
    height: 36px;
    font-size: 12px;
    color:#fff ;
    border: none;
    background-color: #c82424;
}

.topbottom{
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 90%;
    padding: 4px;
}

.logo{
    width: 120px;
    height: 58px;
}
.menu{
    width: 30px;
    height: 30px;
    color: #c82424;
}

.menu-list{
    display: none;
}
@media all and (min-width: 601px){
    .topbar{
        flex-direction: row ;
        justify-content: space-between;
        padding: 0 20px;
    }
    .topmail_contact, .topmiddle{
        width: 50%;
        gap: 20px;
    }
    .topmail_contact{
        justify-content: flex-start;
    }
    .topmiddle{
        justify-content: flex-end;
        border-bottom: none;
    }
    .menu{
        display: none;
    }
    .menu-list{
        display:flex;
        list-style: none;
        text-decoration: none;
        gap: 10px
    }
    .menu-list a{
        
        text-decoration: none;
    }
}