.topbar{
    width: 430px;
    height: 148px;
}
.topmail_contact{
    display: flex;
    flex-direction: row wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    top: 11px;
    height: 67px;
}
.topmiddle{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center; 
    height: 48px;
    top: 40px;
    left: 99px;
    border-bottom: 0.2px solid #000;
    gap: 20px;
}

.topsocial i{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.btn{
    width: 126px ;
    height: 36px;
    font-size: 12px;
    color:#fff ;
    border: none;
    background-color: #c82424;
}
.topbottom{
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    height: 70px;
}
.logo{
    display: flex;
    justify-content: flex-start;
    width: 120px;
    height: 58px;
}
.menu{
    width: 30px;
    height: 30px;
    color: #c82424;
    display: flex;
    top: 23px;
}