.hero{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0,0.1), rgba(0, 0, 0, 0.1)),url('../Images/hero-img.svg');
    height: 482px;
}